<header>
  <h1>Ray Francis</h1>
  <h2>Front end and stuff</h2>
  <nav>
    <ul>
      <li><img src="/images/twitter_logo.png"/></li>
      <li><img src="/images/linkedin_logo.png"/></li>
    </ul>
  </nav>
</header>
